# Editor configuration, see http://editorconfig.org
root = true

[*.sol]
charset=utf-8
trim_trailing_whitespace=true
insert_final_newline=false
indent_style=space
indent_size=4
max_line_length=200
spaces_around_operators=true
indent_brace_style=K&R
end_of_line=crlf

[*.csproj]
charset=utf-8
trim_trailing_whitespace=true
insert_final_newline=false
indent_style=space
max_line_length=200
indent_size=2
end_of_line=crlf

[*.xml]
charset=utf-8
trim_trailing_whitespace=true
insert_final_newline=false
indent_style=space
max_line_length=200
indent_size=2
end_of_line=crlf

[*.sql]
charset=utf-8
trim_trailing_whitespace=true
insert_final_newline=false
indent_style=space
max_line_length=200
indent_size=2
end_of_line=crlf

[*.ruleset]
charset=utf-8
trim_trailing_whitespace=true
insert_final_newline=false
indent_style=space
indent_size=4
max_line_length = off

[*.{yml,yaml}]
charset=utf-8
trim_trailing_whitespace=true
indent_style=space
indent_size=2
insert_final_newline=true
max_line_length=160

[*.toml]
indent_size=4
insert_final_newline=false

[*.scss]
indent_size=2

[*.cs]
charset=utf-8
max_line_length=200
spaces_around_operators=true
indent_brace_style=Allman
trim_trailing_whitespace=True
insert_final_newline=false
indent_style=space
indent_size=4
end_of_line=crlf

[*.{appxmanifest,asax,ascx,aspx,build,cshtml,dtd,fs,fsi,fsscript,fsx,master,ml,mli,nuspec,razor,resw,resx,skin,vb,xaml,xamlx,xoml,xsd}]
indent_style=space
indent_size=4
tab_width=4
