# Editor configuration, see http://editorconfig.org
root = true

[*.sol]
charset=utf-8
trim_trailing_whitespace=true
insert_final_newline=false
indent_style=space
indent_size=4
max_line_length=200
spaces_around_operators=true
indent_brace_style=K&R
end_of_line=crlf

[*.csproj]
charset=utf-8
trim_trailing_whitespace=true
insert_final_newline=false
indent_style=space
max_line_length=200
indent_size=2
end_of_line=crlf

[*.xml]
charset=utf-8
trim_trailing_whitespace=true
insert_final_newline=false
indent_style=space
max_line_length=200
indent_size=2
end_of_line=crlf

[*.sql]
charset=utf-8
trim_trailing_whitespace=true
insert_final_newline=false
indent_style=space
max_line_length=200
indent_size=2
end_of_line=crlf

[*.ruleset]
charset=utf-8
trim_trailing_whitespace=true
insert_final_newline=false
indent_style=space
indent_size=4
max_line_length = off

[*.yml]
charset=utf-8
trim_trailing_whitespace=true
indent_style=space
indent_size=2
insert_final_newline=true

[*.toml]
indent_size=4
insert_final_newline=false

[*.scss]
indent_size=2

[*.cs]
charset=utf-8
max_line_length=200
spaces_around_operators=true
indent_brace_style=Allman
trim_trailing_whitespace=True
insert_final_newline=false
indent_style=space
indent_size=4
end_of_line=crlf

# Microsoft .NET properties
csharp_preferred_modifier_order=public, private, protected, internal, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async:error
csharp_prefer_braces=true:warning
csharp_style_var_elsewhere=false:error
csharp_style_var_for_built_in_types=false:error
csharp_style_var_when_type_is_apparent=false:error
dotnet_naming_rule.private_constants_rule.severity=error
dotnet_naming_rule.private_constants_rule.style=all_upper_style
dotnet_naming_rule.private_constants_rule.symbols=private_constants_symbols
dotnet_naming_style.all_upper_style.capitalization=all_upper
dotnet_naming_style.all_upper_style.word_separator=_
dotnet_naming_symbols.private_constants_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_constants_symbols.applicable_kinds=field
dotnet_naming_symbols.private_constants_symbols.required_modifiers=const
dotnet_style_parentheses_in_arithmetic_binary_operators=never_if_unnecessary:error
dotnet_style_parentheses_in_other_binary_operators=never_if_unnecessary:error
dotnet_style_parentheses_in_relational_binary_operators=never_if_unnecessary:error
dotnet_style_predefined_type_for_locals_parameters_members=true:suggestion
dotnet_style_predefined_type_for_member_access=true:suggestion
dotnet_style_qualification_for_event=true:error
dotnet_style_qualification_for_field=true:error
dotnet_style_qualification_for_method=true:error
dotnet_style_qualification_for_property=true:error
dotnet_style_require_accessibility_modifiers=for_non_interface_members:suggestion

# Code Quality Settings
dotnet_code_quality.PH2092.max_operators=10

# ROSLYNATOR SETTINGS

# Applicable to: rcs1018
#roslynator_accessibility_modifiers = explicit|implicit
roslynator_accessibility_modifiers=explicit

# Default: multi_line
# Applicable to: rcs0020
#roslynator_accessor_braces_style = multi_line|single_line_when_expression_is_on_single_line

# Applicable to: rcs1014
#roslynator_array_creation_type_style = explicit|implicit|implicit_when_type_is_obvious
roslynator_array_creation_type_style=implicit_when_type_is_obvious

# Applicable to: rcs0032
#roslynator_arrow_token_new_line = after|before

# Applicable to: rcs0027
#roslynator_binary_operator_new_line = after|before

# Applicable to: rcs0014, rcs1036
#roslynator_blank_line_between_closing_brace_and_switch_section = true|false

# Applicable to: rcs0011
#roslynator_blank_line_between_single_line_accessors = true|false

# Applicable to: rcs0015
#roslynator_blank_line_between_using_directives = never|separate_groups

# Default: multi_line
# Applicable to: rcs0021
r#oslynator_block_braces_style = multi_line|single_line_when_empty

# Applicable to: rcs1016
#roslynator_body_style = block|expression

# Applicable to: rcs1051
#roslynator_conditional_operator_condition_parentheses_style = include|omit|omit_when_condition_is_single_token

# Applicable to: rcs0028
#roslynator_conditional_operator_new_line = after|before

# Applicable to: rcs1090
roslynator_configure_await = false

# Applicable to: rcs1078
#roslynator_empty_string_style = field|literal

# Applicable to: rcs1096
#roslynator_enum_has_flag_style = method|operator
roslynator_enum_has_flag_style=operator

# Applicable to: rcs0052
#roslynator_equals_token_new_line = after|before

# Default: 140
# Applicable to: rcs0056
#roslynator_max_line_length = <NUM>

# Applicable to: rcs0058
#roslynator_new_line_at_end_of_file = true|false

# Applicable to: rcs0051
#roslynator_new_line_before_while_in_do_statement = true|false

# Applicable to: rcs0059
#roslynator_null_conditional_operator_new_line = after|before

# Applicable to: rcs1248
#roslynator_null_check_style = equality_operator|pattern_matching

# Applicable to: rcs1050
#roslynator_object_creation_parentheses_style = include|omit

# Applicable to: rcs1250
#roslynator_object_creation_type_style = explicit|implicit|implicit_when_type_is_obvious
roslynator_object_creation_type_style=implicit_when_type_is_obvious

#roslynator_prefix_field_identifier_with_underscore = true|false

# Applicable to: rcs1213
#roslynator_suppress_unity_script_methods = true|false

# Applicable to: rcs1207
#roslynator_use_anonymous_function_or_method_group = anonymous_function|method_group

# Applicable to: rcs1016
#roslynator_use_block_body_when_declaration_spans_over_multiple_lines = true|false

# Applicable to: rcs1016
#roslynator_use_block_body_when_expression_spans_over_multiple_lines = true|false

# Applicable to: rcs1250
#roslynator_use_var_instead_of_implicit_object_creation = true|false
roslynator_use_var_instead_of_implicit_object_creation=false


#Simplify name (IDE0001)
dotnet_diagnostic.IDE0001.severity = error
#Simplify member access (IDE0002)
dotnet_diagnostic.IDE0002.severity = error
#Remove unnecessary cast (IDE0004)
dotnet_diagnostic.IDE0004.severity = error
# Enable GenerateDocumentationFile to enable Remove unnecessary usings/imports on build.. except this turns on xmlDocs
dotnet_diagnostic.IDE0005.severity = none
# Populate all cases of switch
dotnet_diagnostic.IDE0010.severity = none
#Use throw expression (IDE0016)
dotnet_diagnostic.IDE0016.severity = none
#Inline variable declaration (IDE0018)
dotnet_diagnostic.IDE0018.severity = none
#Use object initializers (IDE0017)
dotnet_diagnostic.IDE0027.severity = none
#Use collection initializers (IDE0028)
dotnet_diagnostic.IDE0028.severity = error
#Null check can be simplified (IDE0029)
dotnet_diagnostic.IDE0029.severity = error
#Null check can be simplified (IDE0030)
dotnet_diagnostic.IDE0030.severity = error
#Use null propagation (IDE0031)
dotnet_diagnostic.IDE0031.severity = error
#Use auto-implemented property (IDE0032)
dotnet_diagnostic.IDE0032.severity = error
#Use explicitly provided tuple name (IDE0033)
dotnet_diagnostic.IDE0033.severity = error
#Simplify 'default' expression (IDE0034)
dotnet_diagnostic.IDE0034.severity = error
#Remove unreachable code (IDE0035)
dotnet_diagnostic.IDE0035.severity = error
#Use inferred member names (IDE0037)
dotnet_diagnostic.IDE0037.severity = error
#Use local function instead of lambda (IDE0039)
dotnet_diagnostic.IDE0041.severity = error
#Use 'is null' check (IDE0041)
dotnet_diagnostic.IDE0041.severity = suggestion
#Deconstruct variable declaration (IDE0042)
dotnet_diagnostic.IDE0042.severity = error
#Use conditional expression for assignment (IDE0045)
dotnet_diagnostic.IDE0045.severity = suggestion
#Use conditional expression for return (IDE0046)
dotnet_diagnostic.IDE0046.severity = suggestion
#Convert anonymous type to tuple (IDE0050)
dotnet_diagnostic.IDE0050.severity = suggestion
#Remove unused private member (IDE0051)
dotnet_diagnostic.IDE0051.severity = suggestion
#Remove unread private member (IDE0052)
dotnet_diagnostic.IDE0052.severity = suggestion
#Use compound assignment (IDE0054)
dotnet_diagnostic.IDE0054.severity = suggestion
# Fix Formatting
dotnet_diagnostic.IDE0055.severity = none
#Use index operator (IDE0056)
dotnet_diagnostic.IDE0056.severity = error
#Use range operator (IDE0057)
dotnet_diagnostic.IDE0057.severity = error
#Remove unnecessary expression value (IDE0058)
dotnet_diagnostic.IDE0058.severity = suggestion
#Remove unnecessary value assignment (IDE0059)
dotnet_diagnostic.IDE0059.severity = suggestion
# Remove unused parameter
dotnet_diagnostic.IDE0060.severity = suggestion
# Using statement can be simplified
dotnet_diagnostic.IDE0063.severity = none
#Use 'System.HashCode.Combine' (IDE0070)
dotnet_diagnostic.IDE0070.severity = error
#Simplify interpolation (IDE0071)
dotnet_diagnostic.IDE0071.severity = error
#Add missing cases to switch expression (IDE0072)
dotnet_diagnostic.IDE0072.severity = none
#Use compound assignment (IDE0074)
dotnet_diagnostic.IDE0074.severity = error
#Simplify conditional expression (IDE0075)
dotnet_diagnostic.IDE0075.severity = error
# Use pattern matching
dotnet_diagnostic.IDE0078.severity = error
# Remove unnecessary suppression
dotnet_diagnostic.IDE0079.severity = error
#Remove unnecessary suppression operator (IDE0080)
dotnet_diagnostic.IDE0080.severity = error
#Convert typeof to nameof (IDE0082)
dotnet_diagnostic.IDE0082.severity = error
#Simplify new expression (IDE0090)
dotnet_diagnostic.IDE0090.severity = error
#Remove unnecessary equality operator (IDE0100)
dotnet_diagnostic.IDE0100.severity = error
#Remove unnecessary discard (IDE0110)
dotnet_diagnostic.IDE0110.severity = error
#Simplify LINQ expression (IDE0120)
dotnet_diagnostic.IDE0120.severity = error
#Simplify LINQ type check and cast (IDE0121)
dotnet_diagnostic.IDE0121.severity = error
#Namespace does not match folder structure (IDE0130)
dotnet_diagnostic.IDE0130.severity = error
#Prefer 'null' check over type check (IDE0150)
dotnet_diagnostic.IDE0150.severity = error
#Use tuple to swap values (IDE0180)
dotnet_diagnostic.IDE0180.severity = error
# Use block scoped namespace
dotnet_diagnostic.IDE0160.severity = none
# Use tuple to swap values
dotnet_diagnostic.IDE0180.severity = error
# Remove unnecessary lambda expression
dotnet_diagnostic.IDE0200.severity = error
# Convert to top level statements (Program.Main)
dotnet_diagnostic.IDE0210.severity = none
#Add explicit cast in foreach loop (IDE0220)
dotnet_diagnostic.IDE0220.severity = error
#Use UTF-8 string literal (IDE0230)
dotnet_diagnostic.IDE0230.severity = error
#Nullable directive is redundant (IDE0240)
dotnet_diagnostic.IDE0240.severity = error
#Nullable directive is unnecessary (IDE0241)
dotnet_diagnostic.IDE0241.severity = error
#Use collection expression for array (IDE0300)
dotnet_diagnostic.IDE0300).severity = error
#Use collection expression for empty (IDE0301)
dotnet_diagnostic.IDE0301.severity = error
#Use collection expression for stack alloc (IDE0302)
dotnet_diagnostic.IDE0302.severity = error
#Use collection expression for Create() (IDE0303)
dotnet_diagnostic.IDE0303.severity = error
#Use collection expression for builder (IDE0304)
dotnet_diagnostic.IDE0304.severity = error
#Use collection expression for fluent (IDE0305)
dotnet_diagnostic.IDE0305.severity = error
#Use collection expression for new (IDE0306)
dotnet_diagnostic.IDE0306.severity = error
#Use unbound generic type (IDE0340)
dotnet_diagnostic.IDE0340.severity = error
#Use implicitly typed lambda (IDE0350)
dotnet_diagnostic.IDE0350.severity = error
#Null check can be simplified (IDE0270)
dotnet_diagnostic.IDE0230.severity = error
# Use Primary constructor
dotnet_diagnostic.IDE0290.severity = none
# Use collection expression for array
dotnet_diagnostic.IDE0300.severity = error
# Use collection expression for empty
dotnet_diagnostic.IDE0301.severity = error
# Use collection expression for stackalloc
dotnet_diagnostic.IDE0302.severity = error
# Use collection expression for Create()
dotnet_diagnostic.IDE0303.severity = error
# Use collection expression for builder
dotnet_diagnostic.IDE0304.severity = error
# Use collection expression for fluent
dotnet_diagnostic.IDE0305.severity = error

[*.{appxmanifest,asax,ascx,aspx,build,cshtml,dtd,fs,fsi,fsscript,fsx,master,ml,mli,nuspec,razor,resw,resx,skin,vb,xaml,xamlx,xoml,xsd}]
indent_style=space
indent_size=4
tab_width=4
