name: "Build: Pre-Release"

on:
  push:
    paths:
      - 'db/**/*'
      - 'src/**/*'
      - '.github/actions/build/action.yml'
      - '.github/actions/build-tools/action.yml'
      - '.github/actions/dotnet/action.yml'
      - '.github/actions/dotnet-publish/action.yml'
      - '.github/actions/npm/action.yml'
      - '.github/actions/sql/action.yml'
      - '.github/actions/sarif/action.yml'
      - '.github/workflows/build-and-publish-pre-release.yml'
    branches-ignore:
      - 'release/*'
      - 'hotfix/*'

concurrency:
  group: ${{github.workflow}}-${{github.ref}}-pre-release
  cancel-in-progress: true

permissions:
  contents: write
  security-events: write

jobs:
  build-pre-release:

    runs-on: ubuntu-latest

    steps:
      - name: Initialise Workspace
        run: sudo chown -R "$USER:$USER" "$GITHUB_WORKSPACE"

      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: "Check Repo Visibility"
        uses: credfeto/action-repo-visibility@v1.2.0
        id: visibility
        with:
          repository: ${{github.repository}}
          token: ${{secrets.GITHUB_TOKEN}}

      - name: "Check Runner details"
        run: |
          echo "Name: ${{runner.name}}"
          echo "OS: ${{runner.os}}"

      - name: "Enable Local nuget feeds if caching"
        if: ${{runner.name.startsWith('buildagent-')}}
        id: nuget-local-cache
        run: |
          {
            echo "NUGET_BAGET_CACHE: ${{vars.RELEASE_BAGET_CACHE}}"
            echo "PRERELEASE_BAGET_CACHE: ${{vars.PRERELEASE_BAGET_CACHE}}"
            echo "RELEASE_BAGET_CACHE: ${{vars.RELEASE_BAGET_CACHE}}"
          }>> "$GITHUB_OUTPUT"

      - name: Build and deploy
        uses: ./.github/actions/build
        with:
          NPM_PRODUCTION_PACKAGER_VERSION: ${{vars.PRODUCTION_PACKAGER_VERSION}}
          NPM_CONTENT_PACKAGE_WALLET_PASSWORD: ${{secrets.CONTENT_PACKAGE_WALLET_PASSWORD}}
          NPM_PACKAGE_STORE_SIGNING_WALLET: ${{secrets.PACKAGE_STORE_SIGNING_WALLET}}
          NPM_PACKAGE_STORE_SIGNING_WALLET_PASSWORD: ${{secrets.PACKAGE_STORE_SIGNING_WALLET_PASSWORD}}
          NUGET_PUBLIC_RESTORE_FEED_CACHE: ${{steps.nuget-local-cache.outputs.NUGET_BAGET_CACHE}}
          NUGET_PUBLIC_RESTORE_FEED: ${{vars.NUGET_PUBLIC_RESTORE_FEED}}
          NUGET_ADDITIONAL_RESTORE_FEED_RELEASE_CACHE: ${{steps.nuget-local-cache.outputs.RELEASE_BAGET_CACHE}}
          NUGET_ADDITIONAL_RESTORE_FEED_PRERELEASE_CACHE: ${{steps.nuget-local-cache.outputs.PRERELEASE_BAGET_CACHE}}
          NUGET_ADDITIONAL_RESTORE_FEED_RELEASE: ${{secrets.NUGET_ADDITIONAL_RESTORE_FEED_RELEASE}}
          NUGET_ADDITIONAL_RESTORE_FEED_PRERELEASE: ${{secrets.NUGET_ADDITIONAL_RESTORE_FEED_PRERELEASE}}
          NUGET_PACK: ${{vars.NUGET_PACK}}
          NUGET_FEED: ${{secrets.NUGET_FEED}}
          NUGET_SYMBOL_FEED: ${{secrets.NUGET_SYMBOL_FEED}}
          NUGET_API_KEY: ${{secrets.NUGET_API_KEY}}
          SLEET_CONFIG: ${{secrets.SLEET_CONFIG}}
          SLEET_FEED: "dotnet-prerelease"
          OCTOPUS_SERVER: ${{vars.OCTOPUS_SERVER}}
          OCTOPUS_SPACE_NAME: ${{vars.OCTOPUS_SPACE}}
          OCTOPUS_PROJECT: ${{vars.OCTOPUS_PROJECT}}
          OCTOPUS_CHANNEL: ${{vars.OCTOPUS_PRERELEASE_CHANNEL}}
          OCTOPUS_DEPLOY_TO: ${{vars.OCTOPUS_DEPLOYTO_PRERELEASE}}
          OCTOPUS_API_KEY: ${{secrets.OCTOPUS_API_KEY}}
          OCTOPUS_DEPLOY_PACKAGE: ${{vars.OCTOPUS_DEPLOY_PACKAGE}}
          OCTOPUS_DEPLOY_PACKAGE_ZIP: ${{vars.OCTOPUS_DEPLOY_PACKAGE_ZIP}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          REPO_VISIBILITY: ${{env.REPO_STATUS}}
          CREATE_RELEASE: false

