name: "Build: Pre-Release"

on:
  push:
    paths:
      - 'cloudformation.json'
      - 'Dockerfile'
      - 'healthcheck'
      - 'db/**/*'
      - 'src/**/*'
      - '.editorconfig'
      - '.github/actions/**/*'
      - '.github/workflows/*'
    branches-ignore:
      - 'release/*'
      - 'hotfix/*'

# Don't cancel anything in progress
concurrency:
  group: ${{github.workflow}}-${{github.ref}}-pre-release
  cancel-in-progress: false

permissions:
  contents: write
  security-events: write

jobs:
  build-pre-release:

    runs-on: ubuntu-latest

    env:
      REPO_STATUS: ${{vars.REPO_VISIBILITY}}

    steps:
      - name: "Initialise Workspace"
        if: startsWith(runner.name, 'buildagent-')
        shell: bash
        run: sudo chown -R "$USER:$USER" "$GITHUB_WORKSPACE"

      - name: "Checkout Source"
        uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 0
          fetch-tags: true

      - if: env.REPO_STATUS == ''
        name: "Check Repo Visibility"
        uses: credfeto/action-repo-visibility@v1.2.0
        id: visibility
        with:
          repository: ${{github.repository}}
          token: ${{secrets.SOURCE_PUSH_TOKEN}}

      - name: "Check Runner details"
        uses: actions/github-script@v7.0.1
        with:
          script: |
            core.info('Name: ${{runner.name}}');
            core.info('OS: ${{runner.os}}');

      - name: "Build and deploy"
        if: startsWith(runner.name, 'buildagent-')
        uses: ./.github/actions/build
        with:
          PRODUCTION_BUILD: False
          NPM_PRODUCTION_PACKAGER_VERSION: ${{vars.PRODUCTION_PACKAGER_VERSION}}
          NPM_CONTENT_PACKAGE_WALLET_PASSWORD: ${{secrets.CONTENT_PACKAGE_WALLET_PASSWORD}}
          NPM_PACKAGE_STORE_SIGNING_WALLET: ${{secrets.PACKAGE_STORE_SIGNING_WALLET}}
          NPM_PACKAGE_STORE_SIGNING_WALLET_PASSWORD: ${{secrets.PACKAGE_STORE_SIGNING_WALLET_PASSWORD}}
          # not sure why restoring packages does not work on this sometimes
          NUGET_PUBLIC_RESTORE_FEED_CACHE: ${{vars.NUGET_BAGET_CACHE}}
          NUGET_PUBLIC_RESTORE_FEED: ${{vars.NUGET_PUBLIC_RESTORE_FEED}}
          NUGET_ADDITIONAL_RESTORE_FEED_RELEASE_CACHE: ${{vars.RELEASE_BAGET_CACHE}}
          NUGET_ADDITIONAL_RESTORE_FEED_PRERELEASE_CACHE: ${{vars.PRERELEASE_BAGET_CACHE}}
          NUGET_ADDITIONAL_RESTORE_FEED_RELEASE: ${{vars.NUGET_ADDITIONAL_RESTORE_FEED_RELEASE}}
          NUGET_ADDITIONAL_RESTORE_FEED_PRERELEASE: ${{vars.NUGET_ADDITIONAL_RESTORE_FEED_PRERELEASE}}
          NUGET_PACK: ${{vars.NUGET_PACK}}
          NUGET_FEED: ${{secrets.NUGET_FEED}}
          NUGET_SYMBOL_FEED: ${{secrets.NUGET_SYMBOL_FEED}}
          NUGET_API_KEY: ${{secrets.NUGET_API_KEY}}
          SLEET_CONFIG: ${{secrets.SLEET_CONFIG}}
          SLEET_FEED: ${{vars.PRE_RELEASE_SLEET_FEED}}
          PROJECT_TO_PUBLISH: ${{vars.PROJECT_TO_PUBLISH}}
          DOCKER_APP_OWNER: ${{vars.DOCKER_APP_OWNER}}
          DOCKER_APP_NAME: ${{vars.DOCKER_APP_NAME}}
          CLOUD_FORMATION_DEPLOY: ${{vars.CLOUD_FORMATION_DEPLOY}}
          CLOUD_FORMATION_STACK: ${{vars.CLOUD_FORMATION_STACK}}
          CLOUDFORMATION_SNS_ARN: ${{vars.CLOUDFORMATION_SNS_ARN}}
          GITHUB_TOKEN: ${{secrets.SOURCE_PUSH_TOKEN}}
          REPO_VISIBILITY: ${{env.REPO_STATUS}}
          AWS_ACCESS_KEY_ID: ${{secrets.AWS_DOCKER_CONTAINER_REGISTRY_ACCESS_KEY_ID}}
          AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_DOCKER_CONTAINER_REGISTRY_SECRET_ACCESS_KEY}}
          AWS_REGION: ${{vars.AWS_REGION}}
          AWS_CONTAINER_REGISTRY: ${{vars.AWS_CONTAINER_REGISTRY}}
          AWS_LOAD_BALANCER_HOSTNAME: ${{vars.AWS_LOAD_BALANCER_HOSTNAME_DEV}}
          AWS_LOAD_BALANCER_PRIORITY: ${{vars.AWS_LOAD_BALANCER_PRIORITY_DEV}}
          API_HOST: ${{vars.AWS_LOAD_BALANCER_HOSTNAME_DEV}}
          API_PREFIX: ${{vars.API_PREFIX}}
          DOCKER_USERNAME: ${{secrets.DOCKER_USERNAME}}
          DOCKER_ACCESS_TOKEN: ${{secrets.DOCKER_ACCESS_TOKEN}}
          SQL_SERVER: ${{vars.SQL_SERVER}}
          SQL_DB: ${{vars.SQL_DB}}
          SQL_USER: ${{vars.SQL_USER}}
          SQL_PASSWORD: ${{secrets.SQL_PASSWORD}}
          CREATE_RELEASE: false

      - name: "Build and deploy"
        if: startsWith(runner.name, 'buildagent-') != true
        uses: ./.github/actions/build
        with:
          PRODUCTION_BUILD: False
          NPM_PRODUCTION_PACKAGER_VERSION: ${{vars.PRODUCTION_PACKAGER_VERSION}}
          NPM_CONTENT_PACKAGE_WALLET_PASSWORD: ${{secrets.CONTENT_PACKAGE_WALLET_PASSWORD}}
          NPM_PACKAGE_STORE_SIGNING_WALLET: ${{secrets.PACKAGE_STORE_SIGNING_WALLET}}
          NPM_PACKAGE_STORE_SIGNING_WALLET_PASSWORD: ${{secrets.PACKAGE_STORE_SIGNING_WALLET_PASSWORD}}
          NUGET_PUBLIC_RESTORE_FEED_CACHE: ""
          NUGET_PUBLIC_RESTORE_FEED: ${{vars.NUGET_PUBLIC_RESTORE_FEED}}
          NUGET_ADDITIONAL_RESTORE_FEED_RELEASE_CACHE: ""
          NUGET_ADDITIONAL_RESTORE_FEED_PRERELEASE_CACHE: ""
          NUGET_ADDITIONAL_RESTORE_FEED_RELEASE: ${{vars.NUGET_ADDITIONAL_RESTORE_FEED_RELEASE}}
          NUGET_ADDITIONAL_RESTORE_FEED_PRERELEASE: ${{vars.NUGET_ADDITIONAL_RESTORE_FEED_PRERELEASE}}
          NUGET_PACK: ${{vars.NUGET_PACK}}
          NUGET_FEED: ${{secrets.NUGET_FEED}}
          NUGET_SYMBOL_FEED: ${{secrets.NUGET_SYMBOL_FEED}}
          NUGET_API_KEY: ${{secrets.NUGET_API_KEY}}
          SLEET_CONFIG: ${{secrets.SLEET_CONFIG}}
          SLEET_FEED: ${{vars.PRE_RELEASE_SLEET_FEED}}
          PROJECT_TO_PUBLISH: ${{vars.PROJECT_TO_PUBLISH}}
          DOCKER_APP_OWNER: ${{vars.DOCKER_APP_OWNER}}
          DOCKER_APP_NAME: ${{vars.DOCKER_APP_NAME}}
          CLOUD_FORMATION_DEPLOY: ${{vars.CLOUD_FORMATION_DEPLOY}}
          CLOUD_FORMATION_STACK: ${{vars.CLOUD_FORMATION_STACK}}
          CLOUDFORMATION_SNS_ARN: ${{vars.CLOUDFORMATION_SNS_ARN}}
          GITHUB_TOKEN: ${{secrets.SOURCE_PUSH_TOKEN}}
          REPO_VISIBILITY: ${{env.REPO_STATUS}}
          AWS_ACCESS_KEY_ID: ${{secrets.AWS_DOCKER_CONTAINER_REGISTRY_ACCESS_KEY_ID}}
          AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_DOCKER_CONTAINER_REGISTRY_SECRET_ACCESS_KEY}}
          AWS_REGION: ${{vars.AWS_REGION}}
          AWS_CONTAINER_REGISTRY: ${{vars.AWS_CONTAINER_REGISTRY}}
          AWS_LOAD_BALANCER_HOSTNAME: ${{vars.AWS_LOAD_BALANCER_HOSTNAME_DEV}}
          AWS_LOAD_BALANCER_PRIORITY: ${{vars.AWS_LOAD_BALANCER_PRIORITY_DEV}}
          API_HOST: ${{vars.AWS_LOAD_BALANCER_HOSTNAME_DEV}}
          API_PREFIX: ${{vars.API_PREFIX}}
          DOCKER_USERNAME: ${{secrets.DOCKER_USERNAME}}
          DOCKER_ACCESS_TOKEN: ${{secrets.DOCKER_ACCESS_TOKEN}}
          SQL_SERVER: ${{vars.SQL_SERVER}}
          SQL_DB: ${{vars.SQL_DB}}
          SQL_USER: ${{vars.SQL_USER}}
          SQL_PASSWORD: ${{secrets.SQL_PASSWORD}}
          CREATE_RELEASE: false

      - name: "Build Version"
        uses: actions/github-script@v7.0.1
        with:
          script: |
            core.info('Version: \u001b[38;5;6m${{env.BUILD_VERSION}}');
            core.notice('Version: ${{env.BUILD_VERSION}}');
